table{
    border-collapse: collapse;
    border-spacing: 0;
}
table tr:nth-child(odd) {
    background-color: #eeeeee;
}
table tr th {
    border-right: solid 1px #ffffff ;
}
table tr td {
    border-right: solid 1px #ffffff ;
    padding-left: 0.3em;
}
td.theater a {
    color: inherit;
    text-decoration: inherit;
}
.start_date {
    width: 10em;
}
.end_date {
    display: none;
}
.theater {
    width: 9em;
}
.when {
    width: 16em;
}